
<!-- Page Content -->
<div class="container">

<div class="row">
  <div class="col-lg-12 text-center">
    <h1>Trabajo de investigación, Base de datos 2</h1>
    <p class="lead">Integrantes</p>
    <ul class="list-unstyled">
        <li>Kevin Alexis Ortiz ALas</li>
        <li>Ricardo Antonio Figueroa</li>
        <li>Mauricio Alexander Saca Menendez</li>
        <li>Carlos Francisco Torres</li>
    </ul>
  </div>
</div>
<!-- /.row -->

</div>
<!-- /.container -->
<p class="text-left">Profesor: Rafael Torres.</p>

